.members {
    background-color: #f8f8f8;
    padding-top: 45px;
    padding-bottom: 55px;
}

.members h2 {
    font-family: 游明朝;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}


.member-list {
    font-size: 18px;
    display: flex;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 60px;
    overflow: scroll;
}

.member-list li {
    flex-shrink: 0;
    width: 510px;
    margin-left: 100px;
    overflow: scroll;
}

.member-list li:first-child {
    margin-left: 0;
}

@media (max-width: 800px) {
    .member-list {
        padding-left: 20px;
        padding-right: 20px;
    } 
    .member-list li {
        width: 220px;
        margin-left: 30px;
    }
}